{% extends "alknekit/header.html" %}
{% block products %}
<div class="container flex-cart">
        <div class="products">
            <p class="title-cart">Корзина</p>
            {% for tmpproduct in prod %}
                                {% for product in tmpproduct %}
            <div class="block" id="prod{{ product.id }}">
                <div class="product-block">
                    <img src="../../{{ product.mainimage }}" alt="" srcset="">
                    <p class="title">{{ product.tittle }}</p>
                </div>
                <div class="amount">
                    <button class="btn amount-minus" onClick="amountminus({{ product.id }})"><i class="fas fa-minus"></i></button>
                    {% for i in am %}
                        {% if i.id == product.id %}
                            <p class="amount-number" id="amount{{ product.id }}">{{ i.amount }}</p>
                        {% endif %}
                    {% endfor %}
                    <button class="btn amount-plus" onClick="amountplus({{ product.id }})"><i class="fas fa-plus"></i></button>
                </div>
                                    {% for i in priceprod %}
                                        {% if product.id == i.id %}
                <div class="price" id="price{{ product.id }}"><p>{{ i.price }}₽</p></div>
                                        {% endif %}
                                    {% endfor %}
                    {% endfor %}
            </div>
            {% endfor %}
        </div>
        <div class="buy-block">
            <div class="block-top">
                <p>Итого</p>
                <p>{{ cartprice }}₽</p>
            </div>
        </div>
    </div>
    <button onClick="sendtelegram()">fwafawfwa</button>
{% endblock %}