{#Здесь верстка страницы с товарами#}
{% extends 'alknekit/header.html' %}
{% load static %}
{% block products %}
    <div class="container sales">
    <div class="flex-sales">
        {% for i in obj %}
            <a class="block" href="#">
                <div class="image-block"><img src="{{ i.mainimage }}" alt=""></div>
            <div class="title"><p>{{ i.tittle }}</p></div>
            <div class="bottom">
                <div class="price"><span>{{ i.newprice }}₽</span></div>
                <div class="buybutton"><button id="btn-buy"><i class="fa fa-shopping-basket"></i></button></div>
            </div>
        </a>
        {% endfor %}
    </div>
    </div>
{% endblock %}