{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <link rel="stylesheet" href="{% static '/scss/style.css' %}">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link type="image/x-icon" rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    {% for i in title %}
    <title>{{ i }}</title>
    {% endfor %}
</head>
<body>
    <div class="main_box">
        <div class="sidebar_menu" id="menu">
            <div class="menu-top">
                <div class="search">
                    <input type="search" placeholder="Поиск...">
                    <button class="search-confirm"><i class="fas fa-search icon-search"></i></button>
                </div>
                <button class="btn-menu" id="_close" onClick="closeSlideMenu()"><i class="fas fa-times"></i></button>
            </div>
            <div class="menu-title">Категории</div>
            <hr>
            {% for cat in category %}
            <div class="product" id="cat_{{ cat.id }}">
              <div>
                  <div><a href="../../Catalog/{{ cat.title_url }}">{{ cat.title }}</a></div>
                <button onClick="openSub({{ cat.id }})" id='btno_{{ cat.id }}'><i class="fas fa-caret-square-down"></i></button>
                <button onClick="closeSub({{ cat.id }})" id='btnc_{{ cat.id }}' style="display: none;"><i class="fas fa-minus-square"></i></button>
              </div>
              <div class="subcategory" id="sub_{{ cat.id }}">
                  {% for sub in subcategory %}
                      {% if cat.id == sub.Category_id%}
                      <a href="../../Catalog/{{ cat.title_url }}/{{ sub.title_url }}">{{ sub.title }}</a>
                      {% endif %}
                  {% endfor %}
              </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <header>
        <div class="container flex-header">
            <div class="logo-search">
                <div class="logo"><a href="/"><img src="../../static/images/alkonekitlogo.svg" alt="" srcset=""></a></div>
            </div>
            <div class="socs-cart">
                <button class="cart" id="cart">
                    <i class="fas fa-shopping-cart icon-cart"></i>
                    <b>100₽</b>
                </button>
                <button class="btn-menu" id="_open" onClick="openSlideMenu()"><i class="fas fa-bars"></i></button>
            </div>
        </div>
    </header>
    {% block products %}
    {% endblock %}
    <script src="{% static '/js/postajax.js' %}"></script>
    <script src="{% static '/js/menu.js' %}"></script>
</body>
</html>